body 
{
  padding-top: 100px !important;
}

@media (min-width: 992px) 
{
  body 
  {
    padding-top: 56px;
  }
}
.container
{
  max-width: 1240px;
}
.border-right  /*LINE BESIDE SIDENAV*/  
{
  margin-bottom: 24px;
}
.disp-items
{
  margin-top: 13px !important;
  /*padding-right: 55px !important;*/
}
.list-group-item
{
  color: black;
}
.list-group-item:hover
{
  color: black;
  background-color: black;
  color: white;
}
.card-item-title , .card-item-title:hover
{
  color: #000;
}
.cart-btn
{
  max-width: auto !important;
  /*margin-top: 40px !important;*/
  padding: 15px 24px;
  font-size: 1rem;
  border-radius: 0;
} 
.banner
{
  margin-bottom: 30px !important;
  margin-top: -15px;
}
.banner-img
{
  margin-top: 24px !important;
}
.sub-cat-title
{
  padding-top: 27px; 
  text-align: center;
}
.cat-title
{
  color: #424141;
  text-decoration: none;
  font-family: Roboto;
}
.cat-title:hover
{
  text-decoration: none;
  color: black;
}
.card-item-title:hover
{
  text-decoration: none;
}
.card:hover
{
  border: 1px outset rgb(52, 58, 64);
}
.card-item-price
{
  font-size: 18px;
}
.cart-btn-container
{
  text-align: center;
}


.cart-btn:hover
{
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

@media (min-width: 992px) 
{
  .side-cat-position 
  {
    position: fixed;
    width: 20%;
  }
}

@media (max-width: 992px) 
{
  .side-nav
  {
    text-align: center;
  }
}

footer
{
  position: absolute;
  right: 0;
  left: 0;
}