body 
{
  padding-top: 100px !important;
}


{
  body 
  {
    padding-top: 56px;
  }
}
.container
{
  max-width: 1240px;
}
.list-group-item
{
  color: black;
}
.list-group-item:hover
{
  color: black;
  background-color: black;
  color: white;
}
.rel-card
{
  padding-bottom: 30px !important;
}
@media (min-width: 992px) 
{
  .item-padding
  {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.prod-cart-btn
{
  max-width: auto !important;
  margin-top: 40px !important;
  padding: 13px 29px;
  font-size: 1.1rem;
  border-radius: 0;
} 
.add-cart-btn
{
  text-align: center;
}
.cart-btn
{
  max-width: auto !important;
  padding: 10px 11px;
  font-size: 1rem;
} 
.cart-btn:hover
{
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}
.prod-cart-btn:hover
{
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}
.card-item-title, .card-item-title:hover    /*ITEM TITLE*/
{
  color: #000;
  text-decoration: none;
}
.cat-title
{
  color: #424141;
  text-decoration: none;
  font-family: Roboto;
}
.cat-title:hover
{
  text-decoration: none;
  color: black;
}
.cart-btn
{
  /*max-width: auto !important;*/
  /*margin-top: 40px !important;*/
  /*padding: 15px 24px;*/
  font-size: 1rem;
  border-radius: 0;
} 

@media (min-width: 992px) 
{
  .side-cat-position 
  {
    position: fixed;
    width: 279px;
  }
}

@media (max-width: 992px) 
{
  .side-nav
  {
    text-align: center;
  }
}

footer
{
  position: absolute;
  right: 0;
  left: 0;
}
.card:hover
{
  border: 1px outset rgb(52, 58, 64);
}

@media (max-width: 992px) 
{
  .rel-item-head
  {
    text-align: center;
  }
}

@media (min-width: 992px) 
{
  .rel-item-head
  {
    text-align: right;
  }
}
.card-footer-cartbtn
{
  padding: 20px;
}